@font-face { font-family: roboto; src: url('./fonts/RobotoSlab-Thin.tff'); } 

html, body {
    margin: 0;
    height: 100%;
    background: #d9e4dd; 
    font-family: sans-serif;  

   
}

#main-container {
    padding-top: max(5%, 25px);
    padding-right: min(8%, 300px);
    padding-bottom: max(10%, 25px);
    padding-left: min(8%, 300px);
    margin: auto;
    

}

#text-container {
    padding: 10%;
    border: 3px solid #d9e4dd;
    border-radius: 25px;
    background: white; 

}

#name-header {
    margin:0;
    padding:0;
}

#name-sub-header {
    margin:0;
    padding:0;
}